@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
    color: purple;
    margin-top: 72px;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.purple {
    color: #7342d6;
}

.error-message {
    color: white;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 40px;
}

/* Auth Modal */

.authform__container { 
    max-width:100%; 
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.authform__container--subsection {
    margin-bottom: 15px ;
}

.authform__container--label {
    display: block;
    margin-bottom: 5px;
    margin-top:15px ;
}

.authform__container--input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.reg-btn {
  padding: 8px 12px;
  margin: 0 auto;
  max-width: fit-content;
  font-size: 16px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.auth__btn--close {
    font-size: 20px;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom:48px;
}

.search-container__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    gap: 12px;
    padding: 20px;
}

.input__box {
    height: 40px;
}

input {
    justify-content: center;
    padding: 0 12px;
    margin: 0 12px;
    gap: 12px;
}

/* Navigation Bar */

.logo {
    padding: 16px;
    width: 140px;
    border-radius: 50%;
}

.nav__container {
    width: 100%;
    height: 10vh;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #131111;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid white;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: #242424;
    font-size: 40px;
    border: none;
    color: white;
    display: none;
}

.btn__menu--close {
    position: absolute;
    background-color: #242424;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
    font-size: 40px;
    z-index: 200;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
}

.menu--open {
    max-height: 100vh;
    background-color: #131111;
    overflow: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
}

/* 

LANDING

*/

header {
    height: 100%;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    padding: 40px;
    margin: 0 48px;
    text-align: center;
}

.container {
    padding: 56px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 40px;
    color: #7342d6;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner {
    font-size: 80px;
    animation: rotate 700ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    text-align: center;
    font-size: 48px;
    color: red;
}

/* 

MOVIES 

*/

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 28px;
    width: 100%;
    max-width: 1200px;
}

.movie {
    width: calc(100% / 3);
    padding: 24px;
    text-align: center;
}

.movie__img {
    width: 230px;
    transition: all 300ms ease;
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.movie__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.movie:hover .movie__img {
    transform: scale(1.03);
}

.movie__title {
    font-size: 16px;
    margin-bottom: 8px;
}
.movie__year {
    font-size: 14px;
    margin-bottom: 8px;
}

.movie__title:hover .movie__year:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    gap: 12px;
    padding: 20px;
}

.search__btn {
    height: 36px;
    padding: 6px 12px;
}

.input__size {
    width: 200px;
    height: 36px;
}

.sortbox__size {
    height: 36px;
}

.modal-overlay {
    position: fixed;
    background: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: white;
  background: white;
  font-size: 1.5rem;
  cursor: pointer;
}


.overlay__close {
    position: absolute;
    background-color: #242424;
    width: 200px;
    top: 5px;
    left: 20px;
    padding: 8px;
    color: white;
    font-size: 16px;
    z-index: 200;
    cursor: not-allowed;
}

.overlay__img {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: not-allowed;
}

.overlay__detail {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    padding: 12px;
    overflow-y: auto;
}

.overlay__title {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
}

.overlay__details--title {
    font-size: 16px;
    padding-bottom: 2px;
}

.overlay__info {
    color: #bbb999;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 8px;
}

/* 

FOOTER

*/

footer {
    background-color: #131111;
    height: 30vh;
}

.footer__logo {
    display: flex;
    border-radius: 50%;
}

.footer__logo--img {
    width: 160px;
}

.footer__link,
.footer__copyright {
    color: #fff;
}

.footer__list {
    margin: 20px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

.footer__copyright {
    font-size: 12px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 840px) {
    input {
        width: fit-content;
        display: flex;
        flex-direction: column;   
        margin: 12px 0;
    }
}

@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 14px;
    }

    .movie {
        width: 50%;
    }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
    .btn__menu {
        display: block;
    }

    .nav__link {
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}
